* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #025928 ;
}

html,
body {
    height: auto;
    min-width: 100vh;
}

html {
    background: linear-gradient(203deg, #F2594B 24.45%, #F26444 57.01%);
}

input:focus {
    outline: none;
}

#resgister-container {
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    -webkit-box-shadow: 14px 24px 81px -30px rgba(0, 0, 0, 1);
    -moz-box-shadow: 14px 24px 81px -30px rgba(0, 0, 0, 1);
    box-shadow: 14px 24px 81px -30px rgba(0, 0, 0, 1);
}

#register-banner {
    background-image: url(../IMG/portrait-interracial-couple-using-laptop-together.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer {
    background-color: rgba(242, 89, 75, 0.4);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    word-spacing: 10rem;
    color: #F2EFE9;
}

#register-form {
    background-color: #F2EFE9 ;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#register-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

#register-form p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #16593A ;
    font-size: 0.8rem;
}

.form-control{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.form-control input {
    background-color: #F2EFE9;
    border: none;
    border-bottom: 1px solid #16593A;
    padding: 0.6rem 0 ;
}

#generate-password {
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

#register-form #generated-password {
    border: 1px solid #F26444;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem;
    color:#F2594B;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

#register-form #generated-password p {
    color: #F2594B;
    margin-bottom: 0.5rem ;
}

#register-form input[type="submit"],
#generate-options button,
#copy-password {
    background-color: #F2594B;
    color: #F2EFE9;
    opacity: 0.8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    cursor: pointer;
    align-self: flex-end;
    transition: 0.4s;
}

#register-form input[type="submit"]:hover {
    opacity: 1;
}

/*  Segunda versão */

#generate-options {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #025928;
}

#generate-options .form-control {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#generate-options label {
    font-size: 0.8rem;
}


#generate-options input[type="text"] {
    max-width: 30px;
    text-align: center;
    border: 1px solid #025928;
}

#generate-options button {
    display: block;
    margin: 0 auto;
}

#copy-password {
    margin: 1rem auto;
    background-color: transparent;
    border: 2px solid #F2594B;
    color: #F2594B;
    padding: 0.5rem 1rem;

}

.hide {
    display: none;
}